services:
  app:
    build:
      context: .
      target: runner
    image: novan-webapp-app:latest
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      NODE_ENV: production

